<!DOCTYPE html>
<html>
  <head>
    <title>Ror - Mvc - Test</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'application', 'core' -%>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="container">
      <%= render :partial => 'shared/flash', :locals => { :flash => flash } -%>
      <%= yield %>
      <div id="footer">
        Giang Nguyen, ndgiang84 at xiga.info - 2012 Feb
      </div>
    </div>
  </body>
</html>
